@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
html {
  background: url("../images/404.gif") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 16em;
  margin: 0.2em 0.5em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0px;
}
h2 {
  font-size: 1.7em;
  margin: 0.2em 0.5em;
  color: rgba(255, 255, 255, 0.6);
}
h2 .material-icons {
  font-size: 1.5em;
  position: relative;
  top: 10px;
}
div.error {
  position: absolute;
  top: 30%;
  margin-top: -8em;
  width: 100%;
  text-align: center;
}
